@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: "Pretendard", "system-ui", "Segoe UI Adjusted", "Segoe UI",
    "Liberations Sans", sans-serif;
  font-size: 62.5%;
}

body {
  max-width: 768px;
  display: flex;
  justify-content: center;
  margin: auto;
}

body > div {
  width: 100%;
}
